name: First Workflow
on: workflow_dispatch
jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6.0.2
      - name: Install python  
        uses: actions/setup-node@v6
        with:
          node-version: latest
      - name: Install dependencies
        run: |
          pip install pytest
          pip3 install pytest
        
      - name: Build
        run: python3 basic.py

      - name: Run test
        run: pytest -q
